
<table class="table container-fluid sticky-sm-top" th:fragment="header">
  <thead>
    <tr>
      <th scope="col">
        <a th:href="@{/reqs?filtro=H}">
          <img
            th:src="@{/images/hosto-logo.jpg}"
            class="img-fluid"
            alt=""
            width="100px"
        /></a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=S}">
          <img
            th:src="@{/images/logo-siglo.jpg}"
            class="img-fluid img-rounded"
            width="100px"
            alt=""
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=M}">
          <img
            th:src="@{/images/logo-mecanz.jpg}"
            class="img-fluid img-rounded"
            width="100px"
            alt=""
        /></a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=Z}">
          <img
            th:src="@{/images/zerey-logo.jpg}"
            class="img-fluid img-rounded"
            alt=""
            width="100px"
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=P}">
          <img
            th:src="@{/images/logo-pcmm.png}"
            class="img-fluid img-rounded"
            width="100px"
            alt=""
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=T}">
          <img
            th:src="@{/images/logo-tbn.png}"
            class="img-fluid img-rounded"
            width="100px"
            alt=""
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=A}">
          <img
            th:src="@{/images/amron-logo.jpg}"
            class="img-fluid img-rounded"
            alt=""
            width="100px"
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=O}">
          <img
            th:src="@{/images/logo-osonyer.jpg}"
            class="img-fluid img-rounded"
            width="100px"
            alt=""
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=L}">
          <img
            th:src="@{/images/logo-len.png}"
            class="img-fluid img-rounded"
            width="100px"
            alt=""
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=G}">
          <img
            th:src="@{/images/logo-lats.jpg}"
            class="img-fluid img-rounded"
            alt=""
            width="100px"
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=R}">
          <img
            th:src="@{/images/logo-rakroj.jpg}"
            class="img-fluid img-rounded"
            width="100px"
            alt=""
          />
        </a>
      </th>
      <th scope="col">
        <a th:href="@{/reqs?filtro=PO}">
          <img
            th:src="@{/images/logo-ponderacion.png}"
            class="img-fluid img-rounded"
            width="100px"
            alt=""
          />
        </a>
      </th>
    </tr>
  </thead>
</table>
