
html{
    position: relative;
    min-height: 100%;
}


footer{
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    height: 30px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.formReq{

    justify-content: center;
}
