<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

	<title>Empresas</title>
</head>

<body>

	<div class="container-fluid mt-5">
		<table class="table table-hover text-center ">
			<thead>
				<tr>
					<th scope="col">ID ODC</th>
					<th scope="col">DESCRIPCIÓN</th>
					<th scope="col">FACTURA</th>
					<th scope="col">FECHA</th>
					<th scope="col">FLETE</th>
					<th scope="col">CFDI</th>
					<th scope="col">AUTORIZA</th>
					<th scope="col">REQUISICION</th>
					<th scope="col">ESTATUS</th>
					<th scope="col">USUARIO</th>
					<th scope="col">TOTAL</th>
				</tr>
			</thead>
			<tbody th:each="odc : ${odcs}">
				<tr>

					<td th:text="${odc.id_odc}"></td>
					<td th:text="${odc.descripcion}"></td>
					<td th:text="${odc.factura}"></td>
					<td th:text="${odc.fecha}"></td>
					<td th:text="${odc.flete}"></td>
					<td th:text="${odc.cfdi.nombre}"></td>
					<td th:text="${odc.directivo.nombre}"></td>
					<td th:text="${odc.req.codigo}"></td>
					<td th:text="${odc.status.nombre}"></td>
					<td th:text="${odc.usuario.username}"></td>
					<td th:text="${odc.total}"></td>

				</tr>


			</tbody>
		</table>

	</div>










	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>


</body>

</html>